{% if links %}
<div class="btn-group">	
	{% for link in links %}
	<a class="btn{% if link.style is defined %} {{ link.style }}{% else %} btn-default{% endif %}" href="{{ link.ref }}">{{ link.name }}</a>
	{% endfor %}
</div>
{% endif %}
