<div class="banner-top">
	<div>
		<img src="{{ item.picture_value.value }}" class="banner-img-desktop">
		<img src="{{ item.picture_mob_value.value }}" class="banner-img-mob">
		<div class="slide-text">
			{{ item.text }}
		</div>
	</div>
</div>