<div class="modal modal--product">
    <div class="modal-overlay"></div>
    <div class="modal-dialog" itemscope itemtype="http://schema.org/Product">
        <a href="#" class="close pull-right">&times;</a>
        <div class="title" itemprop="name">{{ product.name }}</div>
        <div class="content">
            {{ include('catalog/product.html.twig') }}
        </div>
    </div>
</div>