* {
	box-sizing: border-box;
}

html, body {
    font-family: 'GothamProRegular', Sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    &.no-scroll {
    	overflow: hidden;
    }
}

.container {
    margin: 0 auto;
    max-width: 1030px;
    padding: 0 15px;
}

p {
    margin: 0;
    padding: 0;
}

img {
	display: block;
	width: auto;
	max-width: 100%;
	height: auto;
}

button {
    outline: none;
}

input {
    color: #595959;
    display: block;
    padding: 16px 10px 12px;
    border: 1px solid #ddd;
    font-size: 15px;
    margin-top: 5px;
    width: 100%;
    outline: none;
    &.size-input{
        width: 20%;
        display: inline-block;
    }
    &:focus {
        border-color: #000;

    }
}

.btn-wrap:before,
.btn-wrap:after,
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.btn-wrap:after,
.clearfix:after {
    clear:both;
}
.clearfix, .btn-wrap {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

.relative {
    position: relative;
}

.relative>div {
    position: absolute;
}

#header1 {
    text-align: center;
    width: 100%;
    background: url('../img/textured_header.jpg') repeat center top;
}

.social {
	text-align: center;
	overflow: hidden;
    margin-top: 18px;
    a {
    	width: 28px;
    	float: left;
    	display: block;
    	margin-left: 5px;
    	&:first-child {
    		margin-left: 0;
    	}
    }
}

.btn {
    display: block;
    color: #fff;
    font-family: 'PFDinBold', Sans-serif;
    background-color: #f58024;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 10px 12px;
    text-decoration: none;
    border: none;
    &:hover {
        background: #000;
    }
}

#header1 .phone {
    padding: 20px 0;
    font-family: 'PFDinBold', Sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    max-width: 500px;
    max-height: 56px;
    margin: 0 auto;
}

#header1 .phone a {
	display: inline-block;
    margin-left: 18px;
    color: #f58022;
}

#header1 .phone a:hover {
    color: #fff;
}

.show-catalog-order {
    margin-top: 13px;
    display: inline-block;
    color: #fff;
    font-family: 'PFDinBold', Sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 23px 4px;
}

#header1 button:hover{
    background-image: url('../img/pattern1.png');
    background-position: center center;
}

#header2 {
	position: relative;
    text-align: center;
    background-color: #000;
    width: 100%;
    .colors-link {
        margin-top: 4px;
    }
    .logo {
        width: 180px;
        float: left;
        padding: 8px 0;
    }
}

body.header-fixed {
    padding-top: 56px;
    #header2 {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
    }
}

.menu {
    ul {
        overflow: hidden;
        display: block;
        float: right;
        margin: 0;
        padding: 0 20px 0 0;
        list-style: none;
        li {
            position: relative;
            float: left;
            font-family: 'PFDinBold', Sans-serif;
            font-size: 17px;
            line-height: 24px;
            text-transform: uppercase;
            display: block;
            margin-left: 15px;
            padding-left: 25px;
            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -5px;
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                border: 2px solid $c-orange;
                border-radius: 50%;
            }
            &:first-child {
                margin-left: 0;
                padding-left: 0;
                &:before {
                    display: none;
                }
            }
        }
        a {
            height: 56px;
            text-decoration: none;
            color: #fff;
            padding: 17px 0 15px;
            display: block;
            &:hover {
                color: #f58024;
            }
        }
    }
}

// Mini Cart
.mini-cart {
    display: block;
    color: #fff;
    float: right;
    background: $c-orange;
    width: 160px;
    height: 56px;
    padding: 12px 8px;
    font-size: 13px;
    text-align: left;
    text-decoration: underline;
    line-height: 1.2;
    &:before {
        display: block;
        content: '';
        width: 28px;
        height: 32px;
        background: url("../img/icon-mini-cart.png") center center no-repeat;
        float: left;
        margin-right: 8px;
        outline: 1px;
        opacity: 0.6;
    }
    &:hover {
        text-decoration: none;
    }
}

.mm-cont {
	visibility: hidden;
	position: absolute;
	background: #000;
	background: rgba(0,0,0,0.8);
	top: 52px;
	left: 0;
	right: 0;
	padding: 20px;
	margin: 0;
	opacity: 0;
	transition: all 0.4s;
	z-index: 1000;
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		display: block;
		margin-top: 15px;
		&:first-child {
			margin-top: 0;
		}
		a {
			display: block;
			color: #f58024;
			font-family: 'PFDinBold', Sans-serif;
			font-size: 17px;
			line-height: 24px;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
	.social a {
		display: inline-block;
		float: none;
	}
}

.mm-btn {
	display: none;
	float: right;
	position: relative;
	width: 32px;
	height: 26px;
	margin: 13px 0 0;
	cursor: pointer;
	&__mid {
		position: absolute;
		background: #fff;
		top: 11px;
		left: 0;
		right: 0;
		height: 4px;
		transition: transform 0.4s;
	}
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 4px;
		background: #fff;
		transition: all 0.4s;
		transform-origin: 0 50%;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}

// Page 
.page {
    &__title {
        font-family: 'PFDinBold', Sans-serif;
        margin: 0;
        font-size: 36px;
        line-height: 1.4;
        text-transform: uppercase;
        color: #999;
    }
    &__content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.radio {
    input {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 0;
        opacity: 0;
        z-index: 30;
        &:checked + label {
            &:before {
                background: $c-orange;
            }
            &:after {
                border-color: #fff;
                opacity: 1;
            }
        }
    }
    label {
        &:before {
            position: absolute;
            left: 0;
            top: 2px;
            display: block;
            content: '';
            width: 20px;
            height: 20px;
            background: #ddd;
            margin: 0 10px 0 0;
            // border-radius: 50%;
            z-index: 10;
        }
        &:after {
            content: '';
            position: absolute;
            left: 6px;
            top: 4px;
            width: 6px;
            height: 9px;
            transform: rotate(45deg);
            border-bottom: 2px solid #000;
            border-right: 2px solid #000;
            opacity: 0;
            z-index: 20;
        }
    }
}

.checkbox, .radio {
    position: relative;
    input {
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    label {
        display: block;
        position: relative;
        padding-left: 35px;
        padding-top: 2px;
        line-height: 20px;
    }
}

.checkbox {
    input {
        &:checked + label {
            &:after {
                opacity: 1;
            }
        }
    }
    label {
        padding-left: 35px;
        &:before {
            display: block;
            float: left;
            content: '';
            width: 20px;
            height: 20px;
            background: #ddd;
            margin: -3px 10px 0 0;
        }
        &:after {
            content: '';
            position: absolute;
            left: 6px;
            top: 8px;
            width: 7px;
            height: 11px;
            transform: rotate(45deg);
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            opacity: 0;
        }
    }
}

.banner-top {
	position: relative;
	margin: 22px auto 0;
	font-family: 'PFDinBold', Sans-serif;
	text-transform: uppercase;
	cursor: default;
	.banner-img-mob {
		display: none;
	}
	.slide-text {
		position: absolute;
		left: 100px;
		top: 100px;
		max-width: 360px;
        background-color: rgba(0,0,0,0.5);
        padding: 4px;
	}
	.slide-title {
		margin: 0 0 20px;
		color: #fff;
		font-size: 42px;
		line-height: 1.2;
		text-shadow: 0 0 45px rgba(0,0,0,0.9);
	}
	.btn {
		display: inline-block;
		color: #fff; 
		background: #f58024;
		font-size: 32px;
		padding: 15px 20px 10px;
		line-height: 32px;
		text-decoration: none;
		&:hover {
			background: #fff;
			color: #f58024;
		}
	}
	.slide-shipping {
		margin-top: 20px;
		color: #fff;
		font-size: 22px;
		line-height: 1.2;
		text-shadow: 0 0 45px rgba(0,0,0,0.9);
	}
}

.info {
    margin-top: 22px;
    padding: 28px 46px 38px;
    background-color: #f8f8f8;
    & > div {
    	position: relative;
    }
}

.info .dot {
	position: relative;
    font-size: 12px;
    margin-bottom: 25px;
    padding-left: 65px;
    &:last-child {
    	margin-bottom: 0;
    }
    &:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 48px;
	height: 48px;
    }
}

.tech-img {
	float: left;
	width: 60%;
}

.info-title {
	width: 200px;
	position: absolute;
	left: 0;
	top: 20px;
	margin: 0 auto;
	font-family: 'PFDinBold', Sans-serif;
	font-size: 58px;
	line-height: 50px;
	text-transform: uppercase;	
}

.info .dots {
	float: left;
	width: 40%;
	padding: 30px 0 30px 20px;
}

#dot1{
	strong:before {
		content: '1';
	}
	&:before {
		background: url(/bundles/public/img/icon-waterproof.png) center center no-repeat;
	}
}
#dot2{
	strong:before {
		content: '2';
	}
	&:before {
		background: url(/bundles/public/img/icon-neo.png) center center no-repeat;
	}
}
#dot3{
	strong:before {
		content: '3';
	}
	&:before {
		background: url(/bundles/public/img/icon-max-wick.png) center center no-repeat;
	}
}
#dot4{
	strong:before {
		content: '4';
	}
	&:before {
		background: url(/bundles/public/img/icon-dura.png) center center no-repeat;
	}
}
#dot5{
	strong:before {
		content: '5';
	}
	&:before {
		background: url(/bundles/public/img/icon-temp.png) center center no-repeat;
	}
}
#dot6{
	strong:before {
		content: '6';
	}
	&:before {
		background: url(/bundles/public/img/icon-protector.png) center center no-repeat;
	}
}

.info .dot strong {
	overflow: hidden;
    display: block;
    font-family: 'PFDinBold', Sans-serif;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 5px 0;
    padding-top: 2px;
    font-weight: normal;
    &:before {
    	text-align: center;
    	color: #fff;
    	float: left;
    	content: '';
    	display: block;
    	width: 24px;
    	height: 22px;
    	padding-top: 2px;
    	margin: -2px 7px 4px 0;
    	background: #f58024;
    	border-radius: 50%;
    }
}

.info a.catalog-link {
    text-decoration: none;
    background-color: #f58024;
    color: #fff;
    font-family: 'PFDinBold', Sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    border: 0;
    padding: 20px 30px 13px;
}

.info a.catalog-link:hover{
    background-image: url('../img/pattern1.png');
    background-position: center center;
}

#button1 {
	float: right;
	width: 40%;
	padding-left: 20px;
	margin-bottom: 40px;
    a {
    	display: inline-block;
    }
}

.info .text {
    background-color: #fff;
    margin-top: 10px;
    padding: 42px 20px;
}

.profit {
	width: 50%;
	padding: 0 20px;
}

.profit ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profit ul li {
    padding-left: 30px;
    background: url('../img/info_text_dot.png') no-repeat left top;
    font-family: 'PFDinBold', Sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 20px;
    &:last-child {
    	margin-bottom: 0;
    }
}

.title {
	img {
		margin: 0 auto;
	}
}

.catalog {
    margin-top: 42px;
}

.catalog .title {
    text-align: center;
}

.products-wrapper {
    margin: 30px auto 2px;
    position: relative;
    border: 0;
}

.products {
    margin-top: 30px;
}

.products .item {
    text-align: center;
    padding: 0 15px 20px;
}

.products .item .category{

}

.products .item .name {
	position: relative;
    margin-top: 5px;
    font-family: 'PFDinBold', Sans-serif;
    font-size: 23px;
    line-height: 27px;
    height: 60px;
    text-transform: uppercase;
    padding: 0 20px;
    z-index: 10;
}

.products .item .photo {
	position: relative;
	display: block;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    &:after {
    	position: absolute;
    	background: url(/bundles/public/img/icon-mag.png) center center no-repeat;
    	background-size: 42px auto;
    	top: 50%;
    	left: 50%;
    	margin: -25px 0 0 -25px;
    	content: '';
    	width: 50px;
    	height: 50px;
    	opacity: 0;
    	transition: all 0.3s;
    	z-index: 10;
    }
    &:hover:after {
		opacity: 1;
    }
    &:hover img {
    	opacity: 0.6;
    	transition: all 0.4s;
    }
}

.products .item .photo img {
    margin: 0 auto;
}

.products .item .price{
    font-family: 'PFDinBold', Sans-serif;
    font-size: 31px;
    line-height: 1;
    margin-top: 5px;
}

.products .item button{
    font-family: 'PFDinBold', Sans-serif;
    background-color: #f58024;
    font-size: 23px;
    text-transform: uppercase;
    padding: 15px 0 10px;
    width: 150px;
    border: 0;
    margin-top: 20px;
    outline: 0;
}

.products .item button:hover{
    background-image: url('../img/pattern1.png');
    background-position: center center;
}

.products .item button.active{
    background-image: url('../img/pattern1.png');
    background-position: center center;
    color: #fff;
}

.about-container {
    margin: 0 -10px;
    .col {
        float: left;
        padding: 0 10px;
    }
}

.celebs {
    width: 33.3333%;
    .title {
        text-align: center;
    }
    .mosaic {
        margin-top: 17px;
        img {
        	margin: 0 auto;
        }
    }
}

.history {
    width: 66.6666%;
}

.history .title {
    padding: 25px 0 14px;
    text-align: center;
    background-color: #000;
    background-image: url(../img/history_title_fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.history .text {
    background-color: #000;
    background-image: url(../img/history_text_fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 35px;
    color: #fff;
}

.video{
    margin-top: 30px;
}

.video .title {
    text-align: center;
}

.video-wrapper {
    margin: 22px auto 0;
    position: relative;
    border: 0;
    .slider-video {
        padding: 0 35px;
    }
    .video-cont {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.feedback {
    margin: 20px 0 40px;
    text-align: center;
}

.feedback>.title {
    text-align: center;
    margin-bottom: 14px;
}

.feedback .item {
	float: left;
    width: 25%;
    text-align: center;
    padding: 0 15px;
    overflow: hidden;
}

.feedback .item img {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border: 10px solid #f58024;
    border-radius: 50%;
}

.feedback .item .name {
    margin-top: 10px;
    font-size: 17px;
    height: 48px;
    overflow: hidden;
}

.feedback .item .text {
    margin-top: 12px;
    font-size: 12px;
    line-height: 1.4;
    font-family: 'GothamProRegular', Sans-serif;
}

.feedback .item .text p {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #000;
    padding: 18px 0 16px;
    text-align: center;
    color: #fff;
    .col {
        float: left;
        width: 33.3333%;
        padding: 0 15px;
    }
    .logo {
        margin: 35px auto 0;
    }
    .email {
        margin-top: 16px;
        text-align: center;
    }
    .phone {
        margin: 16px 0 35px;
        font-family: 'PFDinBold', Sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-size: 20px;
    }
    .colors-link {
        margin-top: -11px;
        text-align: right;
        width: 170px;
    }
    .footer-links {
    	text-align: center;
    	margin: 25px 0;
    	padding: 0;
    	li {
    		display: inline-block;
    		margin: 0 10px;
    		a {
    			font-family: 'PFDinBold', Sans-serif;
    			font-size: 18px;
    			color: #fff;
    			display: block;
    			text-transform: uppercase;
    		}
    	}
    }
}

.footer a {
    color: #f58022;
    font-size: 12px;
    font-family: 'GothamPro-Light', Sans-serif;
}

.footer a:hover {
    color: #fff;
}

.footer .email a {
    font-family: 'PFDinBold', Sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}

.footer .copy {
    margin-top: 25px;
    font-size: 10px;
    font-family: 'GothamPro-Light', Sans-serif;
}

.footer .social {
    margin-top: 30px;
	overflow: hidden;
    text-align: center;
	a {
		float: none;
		display: inline-block;
		width: 38px;
		height: 38px;
		margin-left: 4px;
		&:first-child {
			margin-left: 0;
		}
	}
}

.footer a.catalog-link {
    display: inline-block;
    text-decoration: none;
    background-color: #f58024;
    color: #000;
    font-family: 'PFDinBold', Sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    border: 0;
    padding: 19px 26px 10px;
}

.footer a.catalog-link:hover{
    background-image: url('../img/pattern1.png');
    background-position: center center;
}

.hidden {
    display: none;
}

.modal, .modal-overlay {
	overflow: scroll;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 0;
}

.modal-overlay {
	z-index: 1;
	background: rgba(33,33,33,0.55)
}

.modal-dialog {
	position: relative;
    max-width: 600px;
    margin: 30px auto;
    min-height: 60px;
    background: #fff;
    z-index: 10;
    .close {
        position: absolute;
        text-align: center;
        width: 30px;
        height: 30px;
        top: 13px;
        right: 38px;
        display: block;
        text-decoration: none;
        font-size: 45px;
        line-height: 36px;
        font-weight: bold;
        color: #000;
        opacity: 0.4;
    }
    .title {
        text-align: left;
        font-size: 36px;
        line-height: 36px;
        font-family: 'PFDinBold', Sans-serif;
        color: #fff;
        margin: 0;
        padding: 13px 70px 7px 40px;
        background: $c-orange;
    }
    .content {
        padding: 30px 40px;
        button {
            margin-top: 25px;
            margin-bottom: 15px;
            float: right;
        }
    }
    form {
        overflow: hidden;
    }
}


.modal--product {
    .modal-dialog {
        max-width: 1000px;
    }
    .custom-select {
        &__list-wrap {
            float: left;
            width: 100px;
        }
    }
}

.product-line {
    margin-bottom: 20px;
}

.sizes {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.sizes .link {
    font-family: 'PFDinBold', Sans-serif;
    font-size: 23px;
    line-height: 30px;
}

.sizes .content {
    display: none;
    margin-top: 10px;
    img {
    	margin: 0 auto;
    }
}


.sizes .link a {
    line-height: 20px;
    color: #000;
    display: inline-block;
    border-bottom: 2px dotted #f58024;
    text-decoration: none;
    text-transform: uppercase;
}

.sizes .link a.active {
    border-bottom: 2px dotted transparent;
}

a.remove {
    font-size: 40px;
    line-height: 20px;
    text-decoration: none;
    color: #000;
}

// Product card
.modal .product-card {
	background: #fff;
    .product-gallery {
        float: left;
        width: 50%;
        padding-right: 35px;
    }
	.gallery-img-big {
        position: relative;
        display: block;
		border: 1px solid #ddd;
        margin: 0;
        padding: 0;
        list-style: none;
        img {
            margin: 0 auto;
            width: 80%;
        }
        li {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: block;
            z-index: 1;
            opacity: 0;
            &.active {
                position: relative;
                opacity: 1;
                z-index: 2;
            }
        }
	}
	.gallery-grid {
		display: block;
		margin: 20px -4px 0;
		padding: 0;
		list-style: none;
		li {
			display: block;
			float: left;
			width: 16.6666%;
			padding: 0 4px;
			margin-bottom: 4px;
			img {
				cursor: pointer;
				border: 1px solid #ddd;
			}
            &.active {
                opacity: 0.5;
            }
		}
	}
	.product-tabs {
		overflow: hidden;
		margin: 30px 0 0;
		padding: 0;
		li {
			float: left;
			display: block;
			margin-left: 20px;
			&:first-child {
				margin-left: 0;
			}
			a {
				display: block;
				font-size: 24px;
				font-family: 'PFDinBold', Sans-serif;
				line-height: 1.2;
				color: #000;
			}
			&.active a {
				color: #f58024;
				text-decoration: none;
			}
			
		}
	}
	.product-tabs-content {
		display: block;
		margin: 20px 0 0;
		padding: 0;
		list-style: none;
        font-size: 14px;
        line-height: 1.6;
		&>li {
			display: none;
			&.active {
				display: block;
			}
		}
        img {
          max-width: 95% !important;
        }
	}
}

.custom-select {
	font-family: 'PFDinBold', Sans-serif;
	font-size: 24px;
	&__label {
		float: left;
        text-align: right;
		line-height: 30px;
		margin: 8px 10px 0 0;
	}
	&__list {
		position: relative;
		display: block;
		width: 100%;
		height: 44px;
		background: transparent;
		border: 1px solid #ddd;
		margin: 0;
		padding: 8px 20px 9px 10px;
		border-radius: 0;
		font-size: 16px;
		font-family: 'GothamProRegular', Sans-serif;
		line-height: 30px;
		appearance: none;
		z-index: 10;
        &:focus {
            outline: none;
        }
	}
	&__list-wrap {
		background: #fff;
		position: relative;
	}
    &__chevron {
        position: absolute;
        top: 50%;
        right: 10px;
        display: block;
        width: 8px;
        height: 8px;
        margin-top: -6px;
        border-right: 2px solid #000;
        border-bottom: 2px solid #000;
        transform: rotate(45deg);
        z-index: 1;
    }
}

.product-checkout {
    float: left;
    width: 50%;
    .btn {
        max-width: 100%;
        margin: 0 auto;
    }
    .product-price{
        font-family: 'PFDinBold', Sans-serif;
        font-size: 24px;
        line-height: 1;
        float: left;
        padding-top: 12px;
    }
    .product-sku {
        font-family: 'PFDinBold', Sans-serif;
        font-size: 24px;
        text-align: right;
        color: #999;
        padding: 12px 0;
    }
    .custom-select {
        float: left;
        width: 50%;
        padding: 0 10px;
    }
    .btn-wrap {
        padding-bottom: 28px;
        border-bottom: 1px solid #ddd;
    }
}

.custom-input {
    a.circle {
        display: block;
        float: left;
        font-style: normal;
        font-size: 30px;
        line-height: 44px;
        padding: 0 6px;
        text-decoration: none;
        color: #fff;
        background-color: #ccc;

    }
    input.amount {
        float: left;
        height: 44px;
        width: 50px;
        display: inline-block;
        padding: 9px 10px 9px 10px;
        -webkit-border-radius: 0;
        border-radius: 0;
        font-size: 16px;
        font-family: GothamProRegular,Sans-serif;
        line-height: 30px;
        margin-top: 0;
        text-align: center;
    }
}

.custom-input_cart {
    margin-top: 5px;
}

.product-props {
    border-top: 1px solid #ddd;
    padding: 30px 0;
}